﻿@using System.Web.Optimization
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Счетчики
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Main row -->
        <div id="meterListArea" class="row">
            <section class="col-lg-12 connectedSortable">
                <div class="box box-primary">
                    <div class="box-header">
                    </div>
                    <div class="box-body">
                        <div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Серийный номер</th>
                                    <th scope="col">Последняя проверка</th>
                                    <th scope="col">Следующая проверка</th>
                                    <th scope="col">Значение счетчика</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="meter in meters">
                                    <td>{{meter.Id}}</td>
                                    <td>{{meter.SerialNumber}}</td>
                                    <td>{{meter.LastCheck}}</td>
                                    <td>{{meter.NextCheck}}</td>
                                    <td>{{meter.Value}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer clearfix no-border">
                        <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus"></i> Add item</button>
                    </div>
                </div>
            </section>
            <!-- Modal add meter-->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Добавление нового счетчика</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Серийный номер нового счетчика:</label>
                                    <input v-model="newMeter.serialNumber" type="text" class="form-control" id="recipient-name">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                            <button v-on:click="add" type="button" class="btn btn-primary" id="addNewMeter">Добавить</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal -->
        </div>
        <!-- /.row (main row) -->
    </section>
    <!-- /.content -->

</div>
<!-- /.content-wrapper -->
@section scripts
{
    <script src="~/Scripts/app/meter/meterPageApp.js"></script>
}
@section documentReady
{
    meterPageApp.init();
}
