﻿<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Квартиры
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Main row -->
        <div id="apartmentListArea" class="row">
            <!-- Left col -->
            <section class="col-lg-12 connectedSortable">
                <!-- TO DO List -->
                <div class="box box-primary">
                    <div class="box-header">
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-2">
                                <input v-model="filter.StreetContains" type="text" class="form-control" placeholder="Фильтр по улице">
                            </div>
                            <div class="col-2">
                                <input v-model="filter.HouseNumberContains" type="text" class="form-control" placeholder="Фильтр по дому">
                            </div>
                            <div class="col-2">
                                <input v-model="filter.ApartmentNumberContains" type="text" class="form-control" placeholder="Фильтр по квартире">
                            </div>
                            <div class="col-2">
                                <button v-on:click="get()" type="button" class="btn btn-default inline">Фильтр</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Улица</th>
                                            <th scope="col">Дом</th>
                                            <th scope="col">Квартира</th>
                                            <th scope="col">Номер счетчика</th>
                                            <th scope="col">Последняя проверка</th>
                                            <th scope="col">Следующая проверка</th>
                                            <th scope="col">Показание счетчика</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="apartment in apartments">
                                            <td></td>
                                            <td>{{apartment.Street}}</td>
                                            <td>{{apartment.HouseNumber}}</td>
                                            <td>{{apartment.ApartmentNumber}}</td>
                                            <td>{{apartment.MeterSerialNumber}}</td>
                                            <td>{{apartment.MeterLastCheck}}</td>
                                            <td>{{apartment.MeterNextCheck}}</td>
                                            <td>{{apartment.MeterValue}}</td>
                                            <td class="pull-right">
                                                <button v-on:click="showMeterModal(apartment.MeterId)" type="button" class="btn btn-default inline">Счетчик</button>
                                                <button type="button" class="btn btn-info inline">История</button>
                                                <button v-on:click="del(apartment.Id)" type="button" class="btn btn-danger inline">Удалить</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix no-border">
                        <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#addApartmentModal"><i class="fa fa-plus"></i> Добавить</button>
                    </div>
                </div>
                <!-- /.box -->
            </section>
            <!-- Modal add meter-->
            <div class="modal fade" id="addApartmentModal" tabindex="-1" role="dialog" aria-labelledby="addApartmentModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addApartmentModalLabel">Добавить новую квартиру</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="street" class="col-form-label">Улица:</label>
                                    <input v-model="newApartment.Street" type="text" class="form-control" id="street">
                                </div>
                                <div class="form-group">
                                    <label for="house_num" class="col-form-label">Дом:</label>
                                    <input v-model="newApartment.HouseNumber" type="text" class="form-control" id="house_num">
                                </div>
                                <div class="form-group">
                                    <label for="apartment_num" class="col-form-label">Квартира:</label>
                                    <input v-model="newApartment.ApartmentNumber" type="text" class="form-control" id="apartment_num">
                                </div>
                                <label for="meters" class="col-form-label">Доступные для установки счетчики:</label>
                                <select class="form-control" id="meters" v-model="newApartment.MeterId">
                                    <option v-for="meter in meters" v-bind:value="meter.Id">
                                        {{ meter.SerialNumber }}
                                    </option>
                                </select>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                            <button v-on:click="add" type="button" class="btn btn-primary" id="addNewApartment">Добавить</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal -->
            <!-- Modal edit meter-->
            <div class="modal fade" id="editApartmentMeterModal" tabindex="-1" role="dialog" aria-labelledby="editApartmentMeterModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editApartmentMeterModallLabel">Счетчик квартиры</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="apartmentMeterValue" class="col-form-label">Показание счетчика:</label>
                                    <input v-model="updateApartmentMeter.Value" type="text" class="form-control" id="apartmentMeterValue">
                                </div>
                                <label for="apartmentMeter" class="col-form-label">Доступные для замены счетчики:</label>
                                <select class="form-control" id="apartmentMeter" v-model="updateApartmentMeter.NewId">
                                    @*<option value="0">[ВЫБЕРЕТЕ СЧЕТЧИК ДЛЯ ЗАМЕНЫ]</option>*@
                                    <option v-for="meter in meters" v-bind:value="meter.Id">
                                        {{ meter.SerialNumber }}
                                    </option>
                                </select>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                            <button v-on:click="update" type="button" class="btn btn-primary" id="updateApartmentMeter">Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal -->
        </div>
        <!-- /.row (main row) -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section scripts
{
    <script src="~/Scripts/app/apartment/apartmentPageApp.js"></script>
}
@section documentReady
{
    apartmentPageApp.init();
}